*{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;}
  

body{
  background: purple;
  padding: 10px;
}

.cont-heat{
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.cont-logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  margin: auto;
}
.cont-logo img{
  width: 100%;
}

.cont-heat h1{
  color: aliceblue;
  font-weight: 100;
  margin-top: 10px;
}

.cont-heat p{
  color: aliceblue;
  margin-top: 10px;
}
.cont-heat a{
  color: aliceblue;
}


/*Our Main */

main{
  background: white;
}

/*cont1*/

.cont1{
  width: 100%;
  margin-top: 60px;
}

.img-cont1{
  width: 100%;
  text-align: center;
}

.img-cont1 img{
  width: 150px;
  height: 150px;
}

.text-cont1{
  width: 100%;
  text-align: center;
}

.text-cont1 h1{
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
}

.text-cont1 hr{
  width: 100px;
  height: 4px;
  margin: auto;
  background: -webkit-linear-gradient(left, red, blue, white);
  border-style: none;
  margin-top: 10px;
}

.text-cont1 p{
  margin-top: 20px;
  color: gray;
  letter-spacing: 1px;
}

.button-leer{
  width: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  color: grey;
  cursor: pointer;
}

/*our cont 2*/

.cont2{
  width: 100%;
  text-align: center;
}

.cont2 h1{
  font-weight: 100;
  margin-top: 40px;
}

.cont2 hr{
  width: 100px;
  height: 4px;
  margin: auto;
  background: -webkit-linear-gradient(left, red, blue, white);
  border-style: none;
  margin-top: 10px;
}

.cont-details{
  width: 100%;
}

.item-details{
  width: 100%;
}

.icon-details{
  width: 150px;
  height: 150px;
  border: 2px solid grey;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.icon-details img{
  width: 100%;
  margin-top: 10px;
}

.item-details h4{
  margin-top: 20px;
}

.item-details p{
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: grey;
}

/*our cont 3*/

.cont3{
  width: 100%;
  text-align: center;
}

.cont3 h1{
  margin-top: 30px;
  font-weight: 100;
}

.cont3 hr{
  width: 100px;
  height: 4px;
  margin: auto;
  background: -webkit-linear-gradient(left, red, blue, white);
  border-style: none;
  margin-top: 10px;
}

.cont3 p{
  margin-top: 20px;
  letter-spacing: 1px;
  color: grey;
}

.cont-estadistcs{
  width: 100%;
  margin-top: 10px;
}

.item-estadistcs{
  width: 300px;
  margin: auto;
  padding: 5px;
}

.item1 {
  background-color: pink;
  border-radius: 10px 10px 0px 0px;
}
.item1 img {
  width: 30px;
  margin-top: 10px;
}

.item2 {
  background-color: powderblue;
}
.item2 img {
  width: 70px;
  margin-top: 10px;
}

.item3 {
  background-color: burlywood;
}
.item3 img {
  width: 70px;
  margin-top: 10px;
}

.item4 {
  background-color: red;
  border-radius: 0px 0px 10px 10px;
}
.item4 img {
  width: 70px;
  margin-top: 10px;
}

.item-estadistcs h4{
  font-size: 20px;
  color: grey;
  margin-top: 10px;
}

.item-estadistcs p{
  font-size: 20px;
  color: grey;
  margin-top: 1px;
}

