*{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;}
  

body{
  background: purple;
  padding: 10px;
}

.cont-heat{
  width: 100%;
  margin-top: 100px;
  *text-align: center;
  border: 1px solid black;
}
.cont-logo{
  width: 100px;
  height: 100px;
  *border-radius: 50%;
  border: 2px solid white;
  margin: auto;
}
.cont-logo img{
  width: 100%;
}

.cont-heat h1{
  color: aliceblue;
  font-weight: 100;
  margin-top: 10px;
}

.cont-heat p{
  color: aliceblue;
  margin-top: 10px;
}
.cont-heat a{
  color: aliceblue;
}

/*cont1*/

.cont1{
  width: 100%;
  margin-top: 60px;
}

.img-cont1{
  width: 100%;
  text-align: center;
}

.img-cont1 img{
  width: 150px;
  height: 150px;
}

.text-cont1{
  width: 100%;
  text-align: center;
}

.text-cont1 h1{
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
}

.text-cont1 hr{
  width: 100px;
  height: 4px;
  margin: auto;
  background: -webkit-linear-gradient(left, red, blue, white);
}

.text-cont1 p{

}